
<h1>Contact Page</h1>

<p>We would love to hear from you ! </p>

<address>
Written by <a href="mailto:webmaster@example.com">TishPr</a>.<br> 
Visit us at:<br>
<a href="http://wwww.example.com">Example.com</a><br>
Box 564, Disneyland<br>
USA
</address>
