  
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

 //@import "bootstrap-sprockets";
 
  @import "bootstrap";

   .user-info {
   margin-top: 25px;
 }
 
 .nav {
   margin-top: 5px;
 }

 a {font-size: 1.2em;}
 /* only affects the Sign out link */
 
 // vote arrows
 
 .vote-arrows {
   width: 50px;
   text-align: center;
 }
 .favorite {
   margin-top: 20px;
 }
 